body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color:white;
}
.container{
  padding:3% 15% 15%  7%;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat-Black";
}

h1{
  font-family: "Montserrat";
  font-size:3.5rem;
  line-height:1.5;
}
.row{
  padding-left: 2px;
}
.navbar{
    margin: 0 0  4.5rem 0;

}
.cta-heading{
 font-family: "Montserrat-Black";
 font-size: 3.5rem;
 line-height: 1.5;

}
.hi{
  width:50%;
  position: absolute;
  left: 40%;
  transform: rotate(25deg);
}
/* NAvingation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;


}
p{
  color: grey;
}
h3{
  font-family: "Montserrat-Black";
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/* features */
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:orange;
  margin-bottom: 1rem;


}
.icon:hover{
  color: #ff4c68;
}
/* testimonial section */
#testimonials{

  text-align: center;;
  background-color:#ef8172;
  color:#fff;
}
.carousel-item{
    padding: 7% 15%;
}


.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px 20px;
}
/* prsicing section */
#pricing{
  padding:100px;
}
.pricing-col{
  padding: 3% 2%;
  text-align: center;
}
@media (max-width:1000px) {
#title{
  text-align: center;
}
.hi{
  position: static;
  transform: rotate(0);

}

}

#cta{
  background: #ff4c68;
  text-align: center;
  color:white;
  padding: 7% 15%;



}
.social-site{
  margin:20px 10px;
}
#footer{
 padding: 7% 15%;
 text-align: center;
}
.download-button{
  margin: 10px 10px;
}
